@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
/*! modern-normalize v0.6.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Correct the padding in Firefox.
*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  font-family: 'DM Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 34px;
    padding-right: 34px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1080px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.container-hero {
  position: relative;
  padding-right: 20px;
  padding-left: 20px;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .container-hero {
    padding-right: 34px;
    padding-left: 34px;
    max-width: 768px;
    margin: auto;
  }
}

@media screen and (min-width: 1200px) {
  .container-hero {
    padding-right: 115px;
    padding-left: 46px;
    max-width: 1200px;
  }
}

.hero {
  position: relative;
  height: 502px;
  width: 100vw;
  overflow: hidden;
  background-color: #ffb8ca;
}

.hero__Ellipse {
  position: absolute;
  bottom: 75px;
  right: 0;
}

@media screen and (min-width: 768px) {
  .hero__Ellipse {
    bottom: 46px;
    right: 137px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__Ellipse {
    bottom: 75px;
    right: 267px;
  }
}

.hero__icecreem-hero {
  position: absolute;
  bottom: 0;
  right: 32px;
}

@media screen and (min-width: 768px) {
  .hero__icecreem-hero {
    bottom: 0;
    right: 247px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__icecreem-hero {
    bottom: 0;
    right: 450px;
  }
}

.hero__tasty {
  display: none;
}

@media screen and (min-width: 768px) {
  .hero__tasty {
    display: block;
    position: absolute;
    bottom: 0;
    right: 34px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__tasty {
    bottom: 0;
    right: 109px;
  }
}

.hero__milk {
  display: none;
}

@media screen and (min-width: 768px) {
  .hero__milk {
    display: block;
    position: absolute;
    bottom: 28px;
    left: 34px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__milk {
    bottom: 45px;
    left: 77px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    height: 399px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 665px;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  width: 199px;
  height: 50px;
}

.header__button {
  display: none;
}

@media screen and (min-width: 768px) {
  .header__button {
    display: block;
    border-radius: 22px;
    border: none;
    padding: 16px 40px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.3;
    text-align: center;
    background-color: #ffffff;
    color: #d41443;
  }
}

.header__button__button:hover {
  background-color: #ecebeb;
}

.navigation {
  display: none;
}

@media screen and (min-width: 1200px) {
  .navigation {
    display: block;
  }
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.navigation__item {
  margin-right: 35px;
}

.navigation__link {
  font-family: DM Sans;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.3;
  color: #ffffff;
}

.navigation__item:hover .navigation__link,
.navigation__item:focus .navigation__link {
  color: #d41443;
}

.mobile-menu__button-open {
  width: 40px;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .mobile-menu__button-open {
    margin-left: auto;
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .mobile-menu__button-open {
    display: none;
  }
}

.mobile-menu__button-open__line {
  height: 1px;
  width: 20px;
  margin-bottom: 6px;
  background-color: #d41443;
}

.mobile-menu__button-open__line:last-child {
  margin-bottom: 0;
}

.mobile-menu.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-menu {
  width: 100vw;
  height: 100vh;
  padding-top: 23px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: #e17992;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    width: 454px;
  }
}

.mobile-menu__button-close {
  display: block;
  margin-left: auto;
  margin-bottom: 23px;
  border: none;
  background-color: transparent;
  border: 0;
}

.mobile-menu__button-modal {
  width: 100%;
  border-radius: 20px;
  border: none;
  padding: 16px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.3;
  text-align: center;
  background-color: #ffffff;
  color: #d41443;
}

.mobile-menu__button-modal-sign {
  margin-left: 27px;
}

.mobile-nav {
  margin-top: 19px;
}

.mobile-nav__item {
  width: 100%;
}

.mobile-nav__link {
  display: block;
  width: 100vw;
  height: 100%;
  border-top: 1px solid #e18298;
  padding: 12px 21px 12px 21px;
  font-family: DM Sans;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.28;
  color: #ffffff;
}

.mobile-nav__link:last-child {
  border-bottom: 1px solid #e18298;
}

.mobile-nav__link:hover, .mobile-nav__link:focus {
  color: #d41443;
}

.hero-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 1200px) {
  .hero-info {
    padding-left: 69px;
    margin-top: 84px;
  }
}

.hero-info-right {
  display: none;
}

@media screen and (min-width: 768px) {
  .hero-info-right {
    display: block;
  }
}

.hero-info-right__list {
  margin-top: 12px;
}

.hero-info-right__item {
  margin-bottom: 13px;
  font-family: DM Sans;
  font-size: 8px;
  line-height: 1.25;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .hero-info-right__item {
    font-size: 14px;
  }
}

.hero-info-right__number {
  font-family: Titan One;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}

@media screen and (min-width: 1200px) {
  .hero-info-right__number {
    font-size: 43px;
  }
}

.hero-info-left {
  position: relative;
}

.hero-info-left__title {
  margin-top: 137px;
  font-family: Titan One;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .hero-info-left__title {
    margin-top: 15px;
    font-size: 22px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-info-left__title {
    font-size: 38px;
  }
}

.hero-info-left__title--red {
  font-size: 48px;
  line-height: 96.5%;
  color: #d41443;
}

@media screen and (min-width: 768px) {
  .hero-info-left__title--red {
    font-size: 34px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-info-left__title--red {
    font-size: 58px;
  }
}

.hero-info-left__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 19px;
}

.hero-info-left__item {
  margin-right: 8px;
  padding: 9px 14px;
  border-radius: 20px;
  font-family: DM Sans;
  font-size: 8px;
  line-height: 1.25;
}

@media screen and (min-width: 1200px) {
  .hero-info-left__item {
    margin-right: 17px;
    font-size: 14px;
  }
}

.hero-info-left__item--dark {
  background-color: #d41443;
}

.hero-info-left__item--light {
  background-color: #ffffff;
}

.hero-info-left__item--light:hover {
  background-color: #ecebeb;
}

.hero-info-left__link {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.hero-info-left__link--dark {
  color: #ffffff;
}

.hero-info-left__link--light {
  color: #d41443;
}

.extra-info {
  position: absolute;
  display: none;
}

@media screen and (min-width: 768px) {
  .extra-info {
    display: block;
    margin-left: 120px;
    margin-top: 66px;
    width: 114px;
  }
}

@media screen and (min-width: 1200px) {
  .extra-info {
    margin-left: 295px;
    margin-top: 112px;
    width: 200px;
  }
}

@media screen and (min-width: 768px) {
  .extra-info__text {
    font-family: DM Sans;
    font-size: 8px;
    line-height: 150%;
    color: #fff5f6;
  }
}

@media screen and (min-width: 1200px) {
  .extra-info__text {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  .extra-info__button {
    margin-top: 7px;
    padding: 0;
    border: none;
    border-radius: 50px;
    color: #ffb8ca;
  }
}

@media screen and (min-width: 1200px) {
  .extra-info__button {
    margin-top: 20px;
  }
}

#go-top {
  position: fixed;
  bottom: 105px;
  right: 100px;
  cursor: pointer;
  display: none;
  width: 50px;
  height: 50px;
  background-image: url(../images/header-hero/up.png);
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}

@media screen and (max-width: 767px) {
  #go-top {
    bottom: 105px;
    right: 40px;
  }
}

#go-top:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.product {
  background-color: #ffffff;
  padding-top: 121px;
  padding-bottom: 98px;
}

@media screen and (min-width: 1200px) {
  .product {
    padding-top: 121px;
    padding-bottom: 112px;
  }
}

@media screen and (min-width: 1200px) {
  .product {
    padding-top: 127px;
    padding-bottom: 119px;
  }
}

@media screen and (min-width: 768px) {
  .product-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: -10px;
  }
}

@media screen and (min-width: 1200px) {
  .product-list {
    margin: -12px;
  }
}

.product-text {
  display: block;
  font-family: Titan One;
  font-size: 18px;
  line-height: 1.17em;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
  margin: 0 auto;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .product-text {
    font-size: 26px;
    line-height: 1.15em;
  }
}

@media screen and (min-width: 1200px) {
  .product-text {
    font-size: 30px;
    line-height: 1.13em;
  }
}

.product-title {
  font-family: Titan One;
  font-size: 34px;
  line-height: 1.14em;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  margin-bottom: 144px;
}

@media screen and (min-width: 768px) {
  .product-title {
    font-size: 48px;
    line-height: 1.14em;
  }
}

@media screen and (min-width: 1200px) {
  .product-title {
    font-size: 58px;
    line-height: 1.14em;
  }
}

.product-list__item {
  border-radius: 24px;
  padding-top: 161px;
  min-height: 465px;
  position: relative;
}

.product-list__item:hover {
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}

@media screen and (max-width: 767px) {
  .product-list__item:not(:last-child) {
    margin-bottom: 130px;
  }
}

.product-list__item:nth-child(1) {
  background-color: #ffb8ca;
}

.product-list__item:nth-child(2) {
  background-color: #f0d1a5;
}

.product-list__item:nth-child(3) {
  background-color: #c2e297;
}

.product-list__item:nth-child(1):before {
  content: '';
  position: absolute;
  bottom: 70%;
  left: 0;
  background-position-x: center;
  margin-top: -20px;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 252px;
  background-image: url("../images/products/png/icecream-mobile.png");
}

.product-list__item:nth-child(2):before {
  content: '';
  position: absolute;
  bottom: 70%;
  left: 0;
  background-position-x: center;
  margin-top: -20px;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 252px;
  background-image: url("../images/products/png/cofee-mobile.png");
}

.product-list__item:nth-child(3):before {
  content: '';
  position: absolute;
  bottom: 70%;
  left: 0;
  background-position-x: center;
  margin-top: -20px;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 252px;
  background-image: url("../images/products/png/shake-mobile.png");
}

@media screen and (min-width: 768px) {
  .product-list__item {
    width: calc((100% - 6 * 10px) / 3);
    margin: 10px;
    padding-top: 152px;
  }
  .product-list__item:nth-child(1):before {
    content: '';
    position: absolute;
    bottom: 70%;
    left: 0;
    background-position-x: center;
    margin-top: -20px;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 252px;
    background-image: url("../images/products/png/icecream-tab.png");
  }
  .product-list__item:nth-child(2):before {
    content: '';
    position: absolute;
    bottom: 70%;
    left: 0;
    background-position-x: center;
    margin-top: -20px;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 252px;
    background-image: url("../images/products/png/cofee-tab.png");
  }
  .product-list__item:nth-child(3):before {
    content: '';
    position: absolute;
    bottom: 70%;
    left: 0;
    background-position-x: center;
    margin-top: -20px;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    background-image: url("../images/products/png/shake-tab.png");
  }
}

@media screen and (min-width: 1200px) {
  .product-list__item {
    width: calc((100% - 6 * 12px) / 3);
    margin: 12px;
    padding-top: 163px;
    min-height: 525px;
  }
  .product-list__item:nth-child(1):before {
    content: '';
    position: absolute;
    bottom: 70%;
    left: 0;
    background-position-x: center;
    margin-top: -20px;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 252px;
    background-image: url("../images/products/png/icecream-desk.png");
  }
  .product-list__item:nth-child(2):before {
    content: '';
    position: absolute;
    bottom: 70%;
    left: 0;
    background-position-x: center;
    margin-top: -20px;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 252px;
    background-image: url("../images/products/png/cofee-desk.png");
  }
  .product-list__item:nth-child(3):before {
    content: '';
    position: absolute;
    bottom: 70%;
    left: 0;
    background-position-x: center;
    margin-top: -20px;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    background-image: url("../images/products/png/shake-desk.png");
  }
}

.product-list__title {
  display: block;
  font-family: Titan One;
  font-size: 20px;
  line-height: 1.14em;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .product-list__title {
    font-size: 30px;
    line-height: 1.13em;
  }
}

.product-list__title::after {
  content: '';
  display: block;
  background-position-x: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/products/png/points.png");
  width: 26px;
  height: 6px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.product-list__text {
  display: block;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.76em;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  max-width: 200px;
  margin: 0 auto;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .product-list__text {
    width: 198px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .product-list__text {
    font-size: 14px;
    line-height: 1.76em;
    width: 241px;
    margin: 0 auto;
    margin-bottom: 62px;
  }
}

.product-list__button {
  display: block;
  border-radius: 50%;
  border-color: transparent;
  width: 40px;
  height: 40px;
  background-color: transparent;
  background-image: url("../images/products/svg/arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding-bottom: 50px;
  cursor: pointer;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay {
  position: absolute;
  width: 200px;
  height: 400px;
  background-color: #e17992;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.modal-text {
  display: block;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.76em;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.backdrop-product {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 999;
}

.backdrop-product.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop-product.is-hidden .overlay {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.modal-product__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  width: 30px;
  height: 30px;
  border: none;
  position: absolute;
  right: 8px;
  top: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.about {
  padding-top: 125px;
  background-color: #fff5f6;
}

@media screen and (max-width: 480px) {
  .about {
    background-image: url(../images/about/mobile/about-pic-bg1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left 0px bottom 60px;
  }
}

@media screen and (max-width: 480px) and (min-device-pixel-ratio: 2), screen and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 480px) and (min-resolution: 192dpi), screen and (max-width: 480px) and (min-resolution: 2dppx) {
  .about {
    background-image: url(../images/about/mobile/about-pic-bg1@2x.png);
  }
}

@media screen and (min-width: 1200px) {
  .about {
    background-image: url(../images/about/desktop/about-pic-bg1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left 0px bottom -25px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .about {
    background-image: url(../images/about/desktop/about-pic-bg1@2x.png);
  }
}

@media screen and (min-width: 768px) {
  .about .about__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.about__text {
  display: block;
  font-family: Titan One;
  font-size: 18px;
  line-height: 1.17em;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
  margin: 0 auto;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .about__text {
    font-size: 26px;
    line-height: 1.15em;
  }
}

@media screen and (min-width: 1200px) {
  .about__text {
    font-size: 30px;
    line-height: 1.13em;
  }
}

.about__title {
  font-family: Titan One;
  font-size: 34px;
  line-height: 1.14em;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}

@media screen and (min-width: 768px) {
  .about__title {
    font-size: 48px;
  }
}

@media screen and (min-width: 1200px) {
  .about__title {
    font-size: 58px;
  }
}

@media screen and (min-width: 768px) {
  .about__picture {
    width: 50%;
  }
}

.about__img {
  display: inline-block;
  margin-bottom: 46px;
}

@media screen and (min-width: 1200px) {
  .about__img {
    margin-bottom: 39px;
  }
}

.description {
  padding-left: 30px;
  padding-right: 30px;
}

@media screen and (min-width: 768px) {
  .description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
    padding-left: 17px;
    padding-right: 0px;
    padding-top: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .description {
    padding-left: 70px;
  }
}

.description__title {
  margin-bottom: 30px;
  font-weight: 500;
  line-height: 1.62;
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .description__title {
    font-size: 14px;
    line-height: 1.76;
  }
}

@media screen and (min-width: 1200px) {
  .description__title {
    margin-bottom: 35px;
    font-size: 16px;
    letter-spacing: 0.04em;
  }
}

.description__text {
  margin-bottom: 17px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  color: #907e82;
}

@media screen and (min-width: 768px) {
  .description__text {
    margin-bottom: 60px;
    font-size: 14px;
    line-height: 1.76;
    letter-spacing: 0.04em;
  }
}

@media screen and (min-width: 1200px) {
  .description__text {
    margin-bottom: 45px;
    line-height: 1.94;
  }
}

.description__text-bottom {
  display: inline-block;
  margin-top: 10px;
}

.header-title {
  margin-bottom: 26px;
}

.about__button {
  width: 176px;
  border-radius: 20px;
  border: none;
  padding: 12px;
  font-weight: bold;
  line-height: 1.3;
  background-color: #ffffff;
  color: #d41443;
}

.about__button:hover, .about__button:focus {
  background: #ecebeb;
}

.button__icon {
  margin-left: 13px;
}

.advantages-section {
  padding-top: 120px;
  padding-bottom: 50px;
  background-color: #fff5f6;
}

@media screen and (min-width: 768px) {
  .advantages-section {
    padding-top: 100px;
    padding-bottom: 70px;
  }
}

@media screen and (min-width: 320px) {
  .advantages-list {
    display: inline-block;
  }
}

@media screen and (min-width: 768px) {
  .advantages-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.advantages-item {
  position: relative;
  width: 230px;
}

@media screen and (min-width: 768px) {
  .advantages-item {
    -ms-flex-preferred-size: calc(100% / 2 - 60px);
        flex-basis: calc(100% / 2 - 60px);
  }
  .advantages-item:not(:last-child) {
    margin-right: 60px;
  }
}

.advantages-item::before {
  content: '';
  position: absolute;
  height: 50px;
  background-repeat: no-repeat;
}

@media screen and (min-width: 320px) {
  .advantages-item::before {
    top: -66px;
  }
}

@media screen and (min-width: 768px) {
  .advantages-item::before {
    top: -86px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages-item::before {
    top: -90px;
  }
}

.advantages-item:nth-child(1)::before {
  width: 33px;
  background-image: url(../images/advatages/advant1.png);
}

.advantages-item:nth-child(2)::before {
  width: 50px;
  background-image: url(../images/advatages/advant2.png);
}

.advantages-item:nth-child(3)::before {
  width: 44px;
  background-image: url(../images/advatages/advant3.png);
}

@media screen and (max-width: 767px) {
  .advantages-item:not(:last-child) {
    margin-bottom: 104px;
  }
}

.advantages-number {
  color: #d41443;
  font-family: Titan One;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 4%;
}

@media screen and (min-width: 320px) {
  .advantages-number {
    font-size: 36px;
  }
}

@media screen and (min-width: 768px) {
  .advantages-number {
    font-size: 48px;
    margin-bottom: 13px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages-number {
    font-size: 58px;
    margin-bottom: 15px;
  }
}

.advantages-text {
  color: #000000;
  font-family: DM Sans;
  font-weight: 700;
  line-height: 1.8;
  letter-spacing: 2%;
}

@media screen and (min-width: 320px) {
  .advantages-text {
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) {
  .advantages-text {
    font-size: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages-text {
    font-size: 16px;
  }
}

.section-gallery {
  padding-top: 50px;
  padding-bottom: 40px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(45%, #fff5f6), color-stop(45%, #ffffff));
  background-image: linear-gradient(to bottom, #fff5f6 45%, #ffffff 45%);
  background-size: 100%;
}

@media screen and (min-width: 768px) {
  .section-gallery {
    padding-top: 70px;
    padding-bottom: 60px;
  }
}

.wrapper-container {
  position: relative;
  height: 122px;
}

@media screen and (min-width: 768px) {
  .wrapper-container {
    height: 264px;
  }
}

@media screen and (min-width: 1200px) {
  .wrapper-container {
    height: 430px;
  }
}

.section-gallery__wrapper {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  overflow: hidden;
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
  background-color: white;
}

.section-gallery__wrapper:hover, .section-gallery__wrapper:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .section-gallery__wrapper {
    width: 80px;
    height: 80px;
  }
}

@media screen and (min-width: 1200px) {
  .section-gallery__wrapper {
    width: calc(80px * 1.6);
    height: calc(80px * 1.6);
  }
}

.section-gallery__wrapper--img1 {
  position: absolute;
  top: 40px;
  left: 20px;
}

@media screen and (min-width: 768px) {
  .section-gallery__wrapper--img1 {
    top: 80px;
    left: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .section-gallery__wrapper--img1 {
    top: calc((40px * 2) * 1.6);
    left: calc((20px * 2) * 1.6);
  }
}

.section-gallery__wrapper--img2 {
  position: absolute;
  top: 20px;
  left: 63px;
}

@media screen and (min-width: 768px) {
  .section-gallery__wrapper--img2 {
    top: 40px;
    left: 126px;
  }
}

@media screen and (min-width: 1200px) {
  .section-gallery__wrapper--img2 {
    top: calc((20px * 2) * 1.6);
    left: calc((63px * 2) * 1.6);
  }
}

.section-gallery__wrapper--img3 {
  position: absolute;
  top: 63px;
  left: 63px;
}

@media screen and (min-width: 768px) {
  .section-gallery__wrapper--img3 {
    top: 126px;
    left: 126px;
  }
}

@media screen and (min-width: 1200px) {
  .section-gallery__wrapper--img3 {
    top: calc((63px * 2) * 1.6);
    left: calc((63px * 2) * 1.6);
  }
}

.section-gallery__wrapper--img4 {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 0px;
  left: 106px;
}

@media screen and (min-width: 768px) {
  .section-gallery__wrapper--img4 {
    width: 160px;
    height: 160px;
    top: 0px;
    left: 212px;
  }
}

@media screen and (min-width: 1200px) {
  .section-gallery__wrapper--img4 {
    width: 256px;
    height: 256px;
    top: calc((0px * 2) * 1.6);
    left: calc((106px * 2) * 1.6);
  }
}

.section-gallery__wrapper--img5 {
  position: absolute;
  top: 83px;
  left: 106px;
}

@media screen and (min-width: 768px) {
  .section-gallery__wrapper--img5 {
    top: 166px;
    left: 212px;
  }
}

@media screen and (min-width: 1200px) {
  .section-gallery__wrapper--img5 {
    top: calc((83px * 2) * 1.6);
    left: calc((106px * 2) * 1.6);
  }
}

.section-gallery__wrapper--img6 {
  position: absolute;
  top: 23px;
  left: 189px;
}

@media screen and (min-width: 768px) {
  .section-gallery__wrapper--img6 {
    top: 46px;
    left: 378px;
  }
}

@media screen and (min-width: 1200px) {
  .section-gallery__wrapper--img6 {
    top: calc((23px * 2) * 1.6);
    left: calc((189px * 2) * 1.6);
  }
}

.section-gallery__wrapper--img7 {
  position: absolute;
  top: 66px;
  left: 189px;
}

@media screen and (min-width: 768px) {
  .section-gallery__wrapper--img7 {
    top: 132px;
    left: 378px;
  }
}

@media screen and (min-width: 1200px) {
  .section-gallery__wrapper--img7 {
    top: calc((66px * 2) * 1.6);
    left: calc((189px * 2) * 1.6);
  }
}

.section-gallery__wrapper--img8 {
  position: absolute;
  top: 10px;
  left: 232px;
}

@media screen and (min-width: 768px) {
  .section-gallery__wrapper--img8 {
    top: 20px;
    left: 464px;
  }
}

@media screen and (min-width: 1200px) {
  .section-gallery__wrapper--img8 {
    top: calc((10px * 2) * 1.6);
    left: calc((232px * 2) * 1.6);
  }
}

.section-gallery__wrapper--img9 {
  position: absolute;
  top: 53px;
  left: 232px;
}

@media screen and (min-width: 768px) {
  .section-gallery__wrapper--img9 {
    top: 106px;
    left: 464px;
  }
}

@media screen and (min-width: 1200px) {
  .section-gallery__wrapper--img9 {
    top: calc((53px * 2) * 1.6);
    left: calc((232px * 2) * 1.6);
  }
}

.section-gallery__wrapper--img10 {
  position: absolute;
  top: 40px;
  left: 275px;
}

@media screen and (min-width: 768px) {
  .section-gallery__wrapper--img10 {
    top: 80px;
    left: 550px;
  }
}

@media screen and (min-width: 1200px) {
  .section-gallery__wrapper--img10 {
    top: calc((40px * 2) * 1.6);
    left: calc((275px * 2) * 1.6);
  }
}

.feedback {
  background-color: #ffffff;
}

.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  display: block;
  height: 12px;
  width: 12px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
  border: 0;
  border-radius: 50%;
  background-color: #d9d9d9;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 20px;
  height: 20px;
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: #d9d9d9;
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  content: '';
  background-image: url(../images/reviews/feedback/home.svg);
  fill: #d31342;
  width: 16px;
  height: 16px;
  opacity: 1;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: white;
}

.slider {
  width: 100%;
  min-width: 0;
}

.slick-slider {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

.slick-slide img {
  display: block;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 80px;
  padding-bottom: 86px;
}

@media screen and (min-width: 768px) {
  .feedback {
    padding-top: 121px;
    padding-bottom: 119px;
  }
}

@media screen and (min-width: 1200px) {
  .feedback {
    padding-top: 123px;
    padding-bottom: 132px;
  }
}

.feedback__photo--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 29px;
}

@media screen and (min-width: 768px) {
  .feedback__photo--container {
    margin-bottom: 19px;
  }
}

@media screen and (min-width: 1200px) {
  .feedback__photo--container {
    margin-bottom: 15px;
  }
}

.feedback__text--container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 43px 66px 26px 57px;
  background-color: #fafafa;
}

.feedback__text--container::after {
  content: '';
  position: absolute;
  top: 28px;
  left: 61px;
  width: 54px;
  height: 40px;
  background-image: url(../images/reviews/feedback/paws.svg);
  background-repeat: no-repeat;
  fill: #e1e1e1;
}

@media screen and (min-width: 768px) {
  .feedback__text--container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 620px;
    height: 160px;
    margin: 0 auto;
    padding: 30px 36px 28px 40px;
  }
  .feedback__text--container::after {
    top: 30px;
    left: 41px;
    -webkit-transform: translateY(-11px);
            transform: translateY(-11px);
  }
}

@media screen and (min-width: 1200px) {
  .feedback__text--container {
    width: 926px;
    height: 132px;
    padding: 32px 54px 32px 50px;
  }
  .feedback__text--container::after {
    top: 20px;
    left: 50px;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.feedback__client-icon {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 85px;
  height: 85px;
}

.feedback__text {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.3;
  width: 100%;
  text-align: center;
  color: #000000;
  z-index: 3;
}

@media screen and (min-width: 768px) {
  .feedback__text {
    width: 460px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 2.16;
    letter-spacing: 0.04em;
  }
}

@media screen and (min-width: 1200px) {
  .feedback__text {
    width: 750px;
    font-size: 16px;
    line-height: 1.9;
  }
}

.text__linear--gradient {
  background-color: #e1e1e1;
  background: repeating-linear-gradient(to bottom, transparent, transparent 26px, #e1e1e1 1px, #e1e1e1 27px);
  z-index: 999;
  width: 180px;
}

@media screen and (min-width: 768px) {
  .text__linear--gradient {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 524px;
    background: repeating-linear-gradient(to bottom, transparent, transparent 27px, #e1e1e1 1px, #e1e1e1 28px);
  }
}

@media screen and (min-width: 1200px) {
  .text__linear--gradient {
    width: 822px;
    background: repeating-linear-gradient(to bottom, transparent, transparent 29px, #e1e1e1 1px, #e1e1e1 30px);
  }
}

.feedback__slider--container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.feedback__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 18px;
  margin-bottom: 30px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
}

.feedback__address::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: inline-block;
  fill: #c7133e;
  width: 32px;
  height: 4px;
  background: url(../images/reviews/feedback/more.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.slick-slider__item + .slick-slider__item {
  margin-left: 18px;
}

.slider__item {
  min-width: 0;
}

.font, .contacts__link-name p, .contacts__city-name, .contacts__city-text, .contacts__schedule, .contacts__schedule-time, .contacts__link, .button-location, .button-franchise {
  font-family: 'DM Sans', sans-serif;
}

.background {
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(83%, #fff5f6), color-stop(50%, #ffffff));
  background: linear-gradient(0deg, #fff5f6 83%, #ffffff 50%);
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__container {
  -webkit-box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  background-color: #ffffff;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .contacts__container {
    max-width: 220px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .contacts__container {
    max-width: 220px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__container {
    max-width: 330px;
  }
}

.contacts-container__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
  padding: 0px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .contacts-container__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .contacts-container__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 1280px) {
  .contacts-container__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .contacts-container__item {
    margin-bottom: 20px;
  }
  .contacts-container__item:nth-child(3) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .contacts-container__item {
    margin-right: 20px;
  }
  .contacts-container__item:nth-child(3) {
    margin-right: 0px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts-container__item {
    margin-right: 30px;
  }
  .contacts-container__item:nth-child(3) {
    margin-right: 0px;
  }
}

.contacts__link-box {
  list-style-type: none;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .contacts__link-box {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 43px;
    padding-bottom: 43px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .contacts__link-box {
    padding-left: 31px;
    padding-right: 32px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts__link-box {
    padding-left: 43px;
    padding-right: 44px;
    padding-top: 52px;
    padding-bottom: 61px;
  }
}

.contacts__link-name {
  border-radius: 6px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 32px;
}

.contacts__link-name p {
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 500;
  line-height: 186%;
  letter-spacing: 0.04em;
  color: #ffffff;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .contacts__link-name p {
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .contacts__link-name p {
    font-size: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts__link-name p {
    font-size: 16px;
  }
}

.p_cafe {
  background: #f0d1a5;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .p_cafe {
    max-width: 80px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .p_cafe {
    max-width: 73px;
  }
}

@media screen and (min-width: 1280px) {
  .p_cafe {
    max-width: 73px;
  }
}

.p-foodtruck {
  background: #c2e297;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .p-foodtruck {
    max-width: 130px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .p-foodtruck {
    max-width: 138px;
  }
}

@media screen and (min-width: 1280px) {
  .p-foodtruck {
    max-width: 138px;
  }
}

.contacts__city-li {
  margin-bottom: 10px;
}

.contacts__city-name {
  font-weight: 500;
  line-height: 186%;
  letter-spacing: 0.04em;
  color: #000000;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .contacts__city-name {
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .contacts__city-name {
    font-size: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts__city-name {
    font-size: 16px;
  }
}

.contacts__text-li {
  margin-bottom: 32px;
}

.contacts__city-text {
  font-weight: 500;
  line-height: 183%;
  letter-spacing: 0.04em;
  color: #907e82;
  border-bottom: 1px solid #e1e1e1;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .contacts__city-text {
    font-size: 12px;
    padding-bottom: 25px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .contacts__city-text {
    font-size: 14px;
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts__city-text {
    font-size: 16px;
    padding-bottom: 32px;
  }
}

.contacts__schedule-li {
  margin-bottom: 9px;
}

.contacts__schedule {
  font-weight: 500;
  line-height: 186%;
  letter-spacing: 0.04em;
  color: #000000;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .contacts__schedule {
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .contacts__schedule {
    font-size: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts__schedule {
    font-size: 16px;
  }
}

.contacts__schedule-time {
  font-weight: 500;
  line-height: 186%;
  color: #ffa5ba;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .contacts__schedule-time {
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .contacts__schedule-time {
    font-size: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts__schedule-time {
    font-size: 16px;
  }
}

.second-time {
  border-bottom: 1px solid #e1e1e1;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .second-time {
    padding-bottom: 25px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .second-time {
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .second-time {
    padding-bottom: 32px;
  }
}

.contacts__list {
  list-style-type: none;
  padding: 0px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .link-list {
    margin-top: 25px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .link-list {
    margin-top: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .link-list {
    margin-top: 32px;
  }
}

.contacts__link {
  font-weight: 500;
  line-height: 183%;
  text-decoration: none;
  color: #907e82;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .contacts__link {
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .contacts__link {
    font-size: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts__link {
    font-size: 16px;
  }
}

.contacts__button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .contacts__button-container {
    margin-top: 54px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .contacts__button-container {
    margin-top: 81px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts__button-container {
    margin-top: 86px;
  }
}

.contacts__button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .contacts__button-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .contacts__button-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 1280px) {
  .contacts__button-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.contacts__button {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 44px;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  cursor: pointer;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  border-radius: 22px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .contacts__button {
    width: 161px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .contacts__button {
    width: 191px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts__button {
    width: 198px;
  }
}

.button-location {
  background: #d41342;
  color: #ffffff;
}

.button-location:hover,
.button-location :focus {
  background: #d41342;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .button-location {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .button-location {
    margin-right: 15px;
  }
}

@media screen and (min-width: 1280px) {
  .button-location {
    margin-right: 15px;
  }
}

.button-franchise {
  background: #ffffff;
  color: #d41443;
}

.button-franchise:hover,
.button-franchise :focus {
  background: #ecebeb;
}

.backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: opacity 250ms, visibility 300ms;
  transition: opacity 250ms, visibility 300ms;
}

.modal {
  position: absolute;
  background-color: #ffffff;
  min-height: 581px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .modal {
    width: 250px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .modal {
    width: 550px;
  }
}

@media screen and (min-width: 1280px) {
  .modal {
    width: 1000px;
  }
}

.close-button {
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
}

.close-button:hover svg {
  fill: #2196f3;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.section-footer {
  background-color: #fff5f6;
  padding-top: 113px;
}

@media screen and (min-width: 768px) {
  .section-footer {
    padding-top: 165px;
  }
}

.footer-title-container {
  margin-bottom: 43px;
}

@media screen and (min-width: 768px) {
  .footer-title-container {
    margin-bottom: 91px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-title-container {
    margin-bottom: 97px;
  }
}

.footer-title {
  width: 232px;
  height: 42px;
  font-family: Titan One;
  font-style: normal;
  font-size: 18px;
  line-height: 1.1;
  color: #ffa5ba;
  margin-bottom: 17px;
}

@media screen and (min-width: 768px) {
  .footer-title {
    width: 340px;
    height: 57px;
    font-size: 26px;
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-title {
    width: 472px;
    height: 34px;
    font-size: 30px;
    letter-spacing: 0.4px;
    margin-bottom: 15px;
  }
}

.footer-title__main {
  width: 200px;
  height: 76px;
  font-family: Titan One;
  font-style: normal;
  font-size: 34px;
  line-height: 1.14;
  letter-spacing: 0.4px;
  color: #d41443;
  margin-right: 0px;
}

@media screen and (min-width: 768px) {
  .footer-title__main {
    width: 340px;
    height: 110px;
    font-size: 48px;
    letter-spacing: 0.4px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-title__main {
    width: 474px;
    height: 66px;
    font-size: 58px;
    letter-spacing: 1.6px;
  }
}

@media screen and (min-width: 767px) {
  .footer-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1280px) {
  .footer-flex {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 46px;
}

.social-item:not(:last-child) {
  margin-right: 30px;
}

.social__icon {
  -webkit-transition: fill 250ms linear;
  transition: fill 250ms linear;
  fill: #fea5bb;
}

.social__icon:hover, .social__icon:focus {
  fill: #d41443;
}

.tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-family: inherit;
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
  line-height: 1.12;
}

@media screen and (min-width: 767px) {
  .tel {
    font-size: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .tel {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.8;
    letter-spacing: 0.2px;
  }
}

.tel__link {
  text-decoration: none;
  margin-bottom: 43px;
  margin-left: 5px;
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}

@media screen and (min-width: 767px) {
  .tel__link {
    margin-bottom: 0px;
  }
}

.tel__link:hover, .tel__link:focus {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.tel__number {
  color: #d41443;
}

.copyright {
  padding-top: 22px;
  padding-bottom: 25px;
  border-top: 1px solid #e1e1e1;
  background-color: #fff5f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .copyright {
    padding-top: 29px;
    padding-bottom: 18px;
  }
}

@media screen and (min-width: 768px) {
  .copyright {
    padding-top: 9px;
    padding-bottom: 10px;
  }
}

.copyright__text {
  margin: 0px;
  width: 140px;
  height: 42px;
  font-family: inherit;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 1.5;
  color: #907e82;
}

@media screen and (min-width: 768px) {
  .copyright__text {
    width: 276px;
    height: 26px;
    line-height: 1.2;
    letter-spacing: 0.2px;
    font-weight: 700;
  }
}
/*# sourceMappingURL=main.css.map */