
<section class="advantages-section">
    <div class="container">
        <h2 class="visually-hidden"> Advantages </h2>
        <ul class="advantages-list list">
            <li class="advantages-item">
                <img src="./images/advatages/advant1.png" alt="icon-1" width="33">
                <p class="advantages-number">721</p>
                <p class="advantages-text"> Aliquam ac dui vel dui vulputate consectetur. Mauris massa. </p>
            </li>
            <li class="advantages-item">
                <img src="./images/advatages/advant2.png" alt="icon-2" width="50">
                <p class="advantages-number">16kg</p>
                <p class="advantages-text"> Aliquam ac dui vel dui vulputate consectetur. Mauris massa. </p>
            </li>
            <li class="advantages-item">
                <img src="./images/advatages/advant3.png" alt="icon-3" width="44">
                <p class="advantages-number">84</p>
                <p class="advantages-text"> Aliquam ac dui vel dui vulputate consectetur. Mauris massa. </p>
            </li>
        </ul>
</div>
</section>
