<body>
    <section id="contacts" class="contacts__section background">


        <h2 class="contacts__title">
            Контакты
        </h2>
        <div class="contacts">
            <ul class="contacts-container__list">

                <li class="contacts-container__item">
                    <div class="contacts__container">
                        <ul class="contacts__link-box">
                            <li class="contacts__item">
                                <div class="contacts__link-name p_cafe">
                                    <p>CAFE</p>
                                </div>
                            <li class="contacts__item ">
                                <p class="contacts__city-name">Chicago</p>
                            </li>
                            <li class="contacts__item">
                                <p class="contacts__city-text">Fusce ut velit laoreet, tempus arcu molestie vulputate
                                </p>
                            </li>
                            <li>
                                <ul class="contacts__list">
                                    <li>
                                        <p class="contacts__schedule">Monday - Friday</p>
                                    </li>
                                    <li>
                                        <p class="contacts__schedule-time">06:00 AM - 10:00 PM</p>
                                    </li>
                                    <li>
                                        <p class="contacts__schedule">Saturday - Sunday</p>
                                    </li>
                                    <li>
                                        <p class="contacts__schedule-time second-time">08:00 AM - 16:00 PM</p>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <ul class="contacts__list link-list">
                                    <li>
                                        <a href="tel:+610383766284" class="contacts__link">+61(0) 383 766 284</a>
                                    </li>
                                    <li>
                                        <a href="mailto:noreply@envato.com"
                                            class="contacts__link">noreply@envato.com</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="contacts-container__item">
                    <div class="contacts__container">
                        <ul class="contacts__link-box">
                            <li class="contacts__item">
                                <div class="contacts__link-name p-foodtruck">
                                    <p>FOOD TRUCK</p>
                                </div>
                            </li>
                            <li>
                                <p class="contacts__city-name">Los Angeles</p>
                            </li>
                            <li>
                                <p class="contacts__city-text">Fusce ut velit laoreet, tempus arcu molestie vulputate
                                </p>
                            </li>
                            <li>
                                <ul class="contacts__list">
                                    <li>
                                        <p class="contacts__schedule">Monday - Friday</p>
                                    </li>
                                    <li>
                                        <p class="contacts__schedule-time">06:00 AM - 10:00 PM</p>
                                    </li>
                                    <li>
                                        <p class="contacts__schedule">Saturday - Sunday</p>
                                    </li>
                                    <li>
                                        <p class="contacts__schedule-time second-time">08:00 AM - 16:00 PM</p>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <ul class="contacts__list link-list">
                                    <li>
                                        <a href="tel:+610383766284" class="contacts__link">+61(0) 383 766 284</a>
                                    </li>
                                    <li>
                                        <a href="mailto:noreply@envato.com"
                                            class="contacts__link">noreply@envato.com</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="contacts-container__item">

                    <div class="contacts__container">
                        <ul class="contacts__link-box">

                            <li>
                                <div class="contacts__link-name p_cafe">
                                    <p>CAFE</p>
                                </div>
                            </li>
                            <li>
                                <p class="contacts__city-name">New York</p>
                                <p class="contacts__city-text">Fusce ut velit laoreet, tempus arcu molestie vulputate
                                </p>
                            </li>
                            <li>
                                <ul class="contacts__list">
                                    <li>
                                        <p class="contacts__schedule">Monday - Friday</p>
                                    </li>
                                    <li>
                                        <p class="contacts__schedule-time">06:00 AM - 10:00 PM</p>
                                    </li>
                                    <li>
                                        <p class="contacts__schedule">Saturday - Sunday</p>
                                    </li>
                                    <li>
                                        <p class="contacts__schedule-time second-time">08:00 AM - 16:00 PM</p>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <ul class="contacts__list link-list">
                                    <li>
                                        <a href="tel:+610383766284" class="contacts__link">+61(0) 383 766 284</a>
                                    </li>
                                    <li>
                                        <a href="mailto:noreply@envato.com"
                                            class="contacts__link">noreply@envato.com</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>

        <div class="contacts__button-container">
            <ul class="contacts__button-list">
                <li>
                    <button type="button" class="contacts__button button-location" data-modal-open>Our Locations
                        ></button>
                </li>
                <li>
                    <button type="button" class="contacts__button button-franchise">Franchise ></button>
                </li>
            </ul>
        </div>

    </section>

    <div class="backdrop is-hidden" data-modal>
        <div class="modal">
            <button type="button" class="close-button" data-modal-close>
                <svg width="11" height="11">
                    <use href="./images/sprite.svg#icon-Close"></use>
                </svg>
            </button>
        </div>
    </div>


</body>

</html>