<footer>
  <section class="section">
    <div class="container">
      <div class="footer-flex">
        <div class="footer-title-container">
          <p class="footer-title">HOMEMADE ICE CREAM MADE</p>
          <p class="footer-title__main">WITH PASSION</p>
        </div>
        <div class="socials">
          <ul class="social-list list">
            <li class="social-item">
              <a class="footer__link link" href=""
                ><svg width="32" height="32" class="social__icon">
                  <use href="./images/sprite/socials_icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="footer__link link" href=""
                ><svg width="32" height="32" class="social__icon">
                  <use href="./images/sprite/socials_icons.svg#icon-telegram"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="footer__link link" href=""
                ><svg width="32" height="32" class="social__icon">
                  <use href="./images/sprite/socials_icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
          </ul>
          <div class="tel">
            <p class="tel__title">Feel free to contact</p>
            <a class="tel__link" href="tel:+61 (0) 383 766 284">
              <span class="tel__number"> +61 (0) 383 766 284</span></a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="copyright-container">
      <div class="copyright">
        <div class="copyright__text">&copy; 2019 - IceCream. All Rights Reserved.</div>
      </div>
    </div>
  </section>
</footer>
