<section class="section-gallery">
  <div class="section-gallery__container">
    <h2 class="visually-hidden">Gallery</h2>
    <div class="wrapper-container">
      <div class="section-gallery__wrapper section-gallery__wrapper--img1">
        <img src="./images/gallery/gallery-1-min.jpg" class="section-gallery__img1" alt="icecream">
      </div>
      <div class="section-gallery__wrapper section-gallery__wrapper--img2">
        <img src="./images/gallery/gallery-2-min.jpg" class="section-gallery__img2" alt="icecream">
      </div>
      <div class="section-gallery__wrapper section-gallery__wrapper--img3">
        <img src="./images/gallery/gallery-3-min.jpg" class="section-gallery__img3" alt="icecream">
      </div>
      <div class="section-gallery__wrapper section-gallery__wrapper--img4">
        <img src="./images/gallery/gallery-4-min.jpg" class="section-gallery__img4" alt="icecream">
      </div>
      <div class="section-gallery__wrapper section-gallery__wrapper--img5">
        <img src="./images/gallery/gallery-5-min.jpg" class="section-gallery__img5" alt="icecream">
      </div>
      <div class="section-gallery__wrapper section-gallery__wrapper--img6">
        <img src="./images/gallery/gallery-6-min.jpg" class="section-gallery__img6" alt="icecream">
      </div>
      <div class="section-gallery__wrapper section-gallery__wrapper--img7">
        <img src="./images/gallery/gallery-7-min.jpg" class="section-gallery__img7" alt="icecream">
      </div>
      <div class="section-gallery__wrapper section-gallery__wrapper--img8">
        <img src="./images/gallery/gallery-8-min.jpg" class="section-gallery__img8" alt="icecream">
      </div>
      <div class="section-gallery__wrapper section-gallery__wrapper--img9">
        <img src="./images/gallery/gallery-9-min.jpg" class="section-gallery__img9" alt="icecream">
      </div>
      <div class="section-gallery__wrapper section-gallery__wrapper--img10">
        <img src="./images/gallery/gallery-10-min.jpg" class="section-gallery__img10" alt="icecream">
      </div>
    </div>
  </div>
</section>