<div class="hero">
    <div class="container">

        <div class="hero__circle">
        </div>

        <header class="header">
            <a href="">
                <img
                    class="header__logo" 
                    srcset="./images/header-hero/logo.mb.png 1x, ./images/header-hero/logo.mb.png 2x"
                    src="./images/header-hero/logo.mb.png" 
                    alt="логотип" 
                />
            </a>
            
            <button class="mobile-menu__button-open" data-menu-open>
                <div class="mobile-menu__button-open__line-set">
                    <div class="mobile-menu__button-open__line"></div>
                    <div class="mobile-menu__button-open__line"></div>
                    <div class="mobile-menu__button-open__line"></div>
                </div>
            </button>

            <div class="mobile-menu is-hidden" data-menu>

                <button class="mobile-menu__button-close" data-menu-close>
                </button>

                <button class="mobile-menu__button-modal">
                    Buy now
                </button>

                <ul class="mobile-nav list">
                    <li class="mobile-nav__item"> 
                        <a class="mobile-nav__item" href=""> Home</a> 
                    </li>
                    <li class="mobile-nav__item"> 
                        <a class="mobile-nav__item" href=""> About us</a> 
                    </li>
                    <li class="mobile-nav__item"> 
                        <a class="mobile-nav__item" href=""> How it’s made</a> 
                    </li>
                    <li class="mobile-nav__item"> 
                        <a class="mobile-nav__item" href=""> Our products</a> 
                    </li>
                    <li class="mobile-nav__item"> 
                        <a class="mobile-nav__item" href=""> Contac</a> 
                    </li>
                </ul>

            </div>
        </header>

        
        <div class="hero-info">
        <h1 class="hero-info__title">
            ice cream <br> made with <br> <span class="hero-info__title--red">passion</span>
        </h1>

        <ul class="hero-list list">
            <li class="hero-list__item hero-list__item--dark"> 
                <a class="hero-list__link hero-list__link--dark" href="">Products</a>
            </li>
            <li class="hero-list__item hero-list__item--light"> 
                <a class="hero-list__link hero-list__link--light" href="">How it’s made?</a>
            </li>
        </ul>
        </div>
    </div>

    <script src="./menu.js"></script>
</div>

