<section class="section">
    <span>100% natural</span>
    <h2>products</h2>
    <ul class="list product-list">
        <li class="product-list__item">
            <div>
                <picture>
                    <!-- <source srcset="../images/products/jpg/rose-mobile.jpg 1x, ../images/products/jpg/rose-mobile2x.jpg 2x"> -->
                </picture>
            </div>
        </li>
        <li class="product-list__item"></li>
        <li class="product-list__item"></li>
    </ul>
</section>