<section class="section">
    <span class="product-text">100% natural</span>
    <h2 class="products-title">products</h2>
    <ul class="list product-list container">
        <li class="product-list__item">
            <h3 class="product-list__title">ice cream</h3>
            <p class="product-list__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            <button class="product-list__button" type="button">               
            </button>     
        </li>
        <li class="product-list__item">
            <h3 class="product-list__title">ice coffee</h3>
            <p class="product-list__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et</p>
            <button class="product-list__button" type="button">
            </button>
        </li>
        <li class="product-list__item">
            <h3 class="product-list__title">milkshakes</h3>
            <p class="product-list__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et</p>
            <button class="product-list__button" type="button">
            </button>
        </li>
    </ul>
</section>