.section-about {
  padding-top: 125px;
  padding-bottom: 19px;
  background-color: #fff5f6;
  transition: background-size 500ms linear;
  background-image: url(../images/about/about-bg-mobile.png), url(../images/about/cow-mobile-x1.png);
  background-repeat: no-repeat, no-repeat;
  background-size: contain, 280px 280px;
  background-position: right 0 bottom 70px, top 263px left 0;
  @media screen and (min-width: 768px) {
    background-image: url(../images/about/cow-tablet-x1.png);
    background-repeat: no-repeat;
    background-size: 340px 340px;
    background-position: top 281px left 0;
    padding-bottom: 66px;
  }
  @media screen and (min-width: 1200px) {
    min-height: 850px;
    background-image: url(../images/about/about-bg-desktop.png),
      url(../images/about/cow-desktop-x1.png);
    background-repeat: no-repeat, no-repeat;
    background-size: contain, 516px 516px;
    background-position: right 0 bottom 70px, top 300px left 0;
  }
}
.section-about__pre-title {
  font-family: Titan One;
  font-size: 18px;
  line-height: 1.17em;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
  margin: 0 auto;
  margin-bottom: 15px;

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15em;
  }

  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: 1.13em;
  }
}
.section-about__title {
  margin-bottom: 351px;
  font-family: Titan One;
  font-size: 34px;
  line-height: 1.14em;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.14em;
    margin-bottom: 100px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 58px;
    line-height: 1.14em;
  }
}
.section-about__img {
  margin-bottom: 46px;
}
.section-about__bold-text {
  margin-bottom: 47px;
  width: 220px;
  margin-left: auto;
  margin-right: auto;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  /* or 19px */

  color: #000000;
  @media screen and (min-width: 768px) {
    margin-left: 360px;
    width: 340px;
    font-size: 14px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 500px;
    width: 460px;
    font-size: 16px;
  }
}
.section-about__text {
  width: 220px;
  margin-bottom: 17px;
  margin-left: auto;
  margin-right: auto;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  /* or 19px */

  color: #907e82;
  @media screen and (min-width: 768px) {
    margin-left: 360px;
    margin-bottom: 62px;
    width: 340px;
    font-size: 14px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 500px;
    margin-bottom: 62px;
    width: 460px;
    font-size: 16px;
  }
}
.section-about__btn {
  height: 44px;
  padding: 10px 37px;
  border: none;

  background-color: #ffffff;
  border-radius: 22px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #d41443;
  margin-left: 30px;
  @media screen and (min-width: 768px) {
    margin-left: 360px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 500px;
  }
}
