.advantages-section {
  background: #fff5f6;
  @media screen and (min-width: 1200px) {
    padding: 39px, 115px, 139px, 115;
  }
  @media screen and (min-width: 768px) {
    padding: 66px, 76px, 140px, 36px;
  }
  @media screen and (min-width: 320px) {
    padding: 39px, 70px, 97px, 20px;
  }
}

.visually-hidden {
  visibility: hidden;
}

.advantages-list {
  display: flex;
  list-style: none;
}
.advantages-item {
  width: 330px;
  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      padding-right: 30px;
    }
  }
}

.advantages-number {
  font-family: Titan One;
  font-weight: 400;
  font-size: 58px;
  line-height: 1.2;
  letter-spacing: 4%;
}

.advantages-text {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 2%;
  @media screen and (min-width: 1200px) {
  }
}
