.font {
  font-family: 'DM Sans', sans-serif;
}

// p,
// ul,
// li,
// div,
// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   margin-top: 0;
//   margin-bottom: 0;
//   padding: 0;
// }
// ul {
//   margin-top: 0;
//   margin-bottom: 0;
//   padding-left: 0;
// }
// body {
//   margin: 0px;
//   background-color: #fff5f6;
// }
.background {
  height: 100%;
  background: linear-gradient(0deg, #fff5f6 83%, #ffffff 50%);
}



.contacts {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contacts__container {
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  background-color: #ffffff;

  @media screen and (min-width: 320px) and (max-width: 768px) {
    max-width: 220px;
  }
  @media screen and (min-width: 768px) and (max-width: 1280px) {
    max-width: 220px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 330px;
  }
}
.contacts-container__list {
  list-style-type: none;
  display: flex;
  margin: 0px;
  padding: 0px;

  @media screen and (min-width: 320px) and (max-width: 768px) {
    flex-direction: column;
  }
  @media screen and (min-width: 768px) and (max-width: 1280px) {
    flex-direction: row;
  }
  @media screen and (min-width: 1280px) {
    flex-direction: row;
  }
}
.contacts-container__item {
  @media screen and (min-width: 320px) and (max-width: 768px) {
    margin-bottom: 20px;

    &:nth-child(3) {
      margin-bottom: 0px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1280px) {
    margin-right: 20px;

    &:nth-child(3) {
      margin-right: 0px;
    }
  }
  @media screen and (min-width: 1280px) {
    margin-right: 30px;

    &:nth-child(3) {
      margin-right: 0px;
    }
  }
}

.contacts__link-box {
  list-style-type: none;

  @media screen and (min-width: 320px) and (max-width: 768px) {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 43px;
    padding-bottom: 43px;
  }
  @media screen and (min-width: 768px) and (max-width: 1280px) {
    padding-left: 31px;
    padding-right: 32px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  @media screen and (min-width: 1280px) {
    padding-left: 43px;
    padding-right: 44px;
    padding-top: 52px;
    padding-bottom: 61px;
  }
}

.contacts__link-name {
  border-radius: 6px;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-bottom: 32px;

  & p {
    @extend .font;
    padding-top: 5px;
    padding-bottom: 5px;

    font-weight: 500;
    line-height: 186%;
    letter-spacing: 0.04em;
    color: #ffffff;

    @media screen and (min-width: 320px) and (max-width: 768px) {
      font-size: 12px;
    }
    @media screen and (min-width: 768px) and (max-width: 1280px) {
      font-size: 16px;
    }
    @media screen and (min-width: 1280px) {
      font-size: 16px;
    }
  }
}
.p_cafe {
  background: #f0d1a5;

  @media screen and (min-width: 320px) and (max-width: 768px) {
    max-width: 80px;
  }
  @media screen and (min-width: 768px) and (max-width: 1280px) {
    max-width: 73px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 73px;
  }
}
.p-foodtruck {
  background: #c2e297;

  @media screen and (min-width: 320px) and (max-width: 768px) {
    max-width: 130px;
  }
  @media screen and (min-width: 768px) and (max-width: 1280px) {
    max-width: 138px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 138px;
  }
}

.contacts__city-li{
  margin-bottom: 10px;
}
.contacts__city-name {
  @extend .font;
  font-weight: 500;
  line-height: 186%;
  letter-spacing: 0.04em;
  color: #000000;

  

  @media screen and (min-width: 320px) and (max-width: 768px) {
    font-size: 12px;
  }
  @media screen and (min-width: 768px) and (max-width: 1280px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}

.contacts__text-li{
  margin-bottom: 32px;
}
.contacts__city-text {
  @extend .font;
  font-weight: 500;
  line-height: 183%;
  letter-spacing: 0.04em;
  color: #907e82;

  border-bottom: 1px solid #e1e1e1;

 

  @media screen and (min-width: 320px) and (max-width: 768px) {
    font-size: 12px;
    padding-bottom: 25px;
  }
  @media screen and (min-width: 768px) and (max-width: 1280px) {
    font-size: 14px;
    padding-bottom: 30px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    padding-bottom: 32px;
  }
}
.contacts__schedule-li{
  margin-bottom: 9px;
}
.contacts__schedule {
  @extend .font;
  font-weight: 500;
  line-height: 186%;
  letter-spacing: 0.04em;
  color: #000000;

  

  @media screen and (min-width: 320px) and (max-width: 768px) {
    font-size: 12px;
  }
  @media screen and (min-width: 768px) and (max-width: 1280px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}
.contacts__schedule-time {
  @extend .font;
  font-weight: 500;
  line-height: 186%;
  color: #ffa5ba;

  @media screen and (min-width: 320px) and (max-width: 768px) {
    font-size: 12px;
  }
  @media screen and (min-width: 768px) and (max-width: 1280px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}
.second-time {
  @media screen and (min-width: 320px) and (max-width: 768px) {
    padding-bottom: 25px;
  }
  @media screen and (min-width: 768px) and (max-width: 1280px) {
    padding-bottom: 30px;
  }
  @media screen and (min-width: 1280px) {
    padding-bottom: 32px;
  }
  border-bottom: 1px solid #e1e1e1;
}

.contacts__list {
  list-style-type: none;
  padding: 0px;
}
.link-list {
  @media screen and (min-width: 320px) and (max-width: 768px) {
    margin-top: 25px;
  }
  @media screen and (min-width: 768px) and (max-width: 1280px) {
    margin-top: 30px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 32px;
  }
}
.contacts__link {
  @extend .font;
  font-weight: 500;
  line-height: 183%;
  text-decoration: none;
  color: #907e82;

  @media screen and (min-width: 320px) and (max-width: 768px) {
    font-size: 12px;
  }
  @media screen and (min-width: 768px) and (max-width: 1280px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}

.contacts__button-container {
  display: flex;
  justify-content: center;

  @media screen and (min-width: 320px) and (max-width: 768px) {
    margin-top: 54px;
  }
  @media screen and (min-width: 768px) and (max-width: 1280px) {
    margin-top: 81px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 86px;
  }
}
.contacts__button-list {
  display: flex;
  list-style-type: none;
  margin: 0px;
  padding: 0px;

  @media screen and (min-width: 320px) and (max-width: 768px) {
    flex-direction: column;
  }
  @media screen and (min-width: 768px) and (max-width: 1280px) {
    flex-direction: row;
  }
  @media screen and (min-width: 1280px) {
    flex-direction: row;
  }
}
.contacts__button {
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 44px;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;

  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  border: none;
  border-radius: 22px;

  @media screen and (min-width: 320px) and (max-width: 768px) {
    width: 161px;
  }
  @media screen and (min-width: 768px) and (max-width: 1280px) {
    width: 191px;
  }
  @media screen and (min-width: 1280px) {
    width: 198px;
  }
}
.button-location {
  @extend .font;

  

  background: #d41342;
  color: #ffffff;

  &:hover,
  :focus {
    background: #d41342;
  }

  @media screen and (min-width: 320px) and (max-width: 768px) {
    margin-bottom: 10px;
  }
  @media screen and (min-width: 768px) and (max-width: 1280px) {
    margin-right: 15px;
  }
  @media screen and (min-width: 1280px) {
    margin-right: 15px;
  }
}
.button-franchise {
  @extend .font;

  background: #ffffff;
  color: #d41443;

  &:hover,
  :focus {
    background: #ecebeb;
  }
}

.backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: opacity 250ms, visibility 300ms;
}
.modal {
  position: absolute;
  background-color: #ffffff;
  min-height: 581px;
  @media screen and (min-width: 320px) and (max-width: 768px) {
    width: 250px;
  }
  @media screen and (min-width: 768px) and (max-width: 1280px) {
    width: 550px;
  }
  @media screen and (min-width: 1280px) {
    width: 1000px;
  }
}
.close-button {
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  position: absolute;
  right: 8px;
  top: 8px;

  cursor: pointer;

  &:hover svg {
    fill: #2196f3;
  }
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
