

.section{
  background-color: $color-secondary-background;
}

.footer-title {
  width: 232px;
  height: 42px;

  font-family: Titan One;
  font-style: normal;
  font-size: 18px;
  line-height: 1.1;
  color: #ffa5ba;

  // margin-top: 113px;
  margin-bottom: 17px;

  @media screen and (min-width: 768px) {
    width: 340px;
    height: 57px;

    font-size: 26px;

    // margin-top: 165px;
    margin-bottom: 16px;
  }

  @media screen and (min-width: 1280px) {
    width: 472px;
    height: 34px;

    font-size: 30px;
    letter-spacing: 0.4px;

    margin-bottom: 15px;
  }
}

.footer-title__main {
  width: 200px;
  height: 76px;

  font-family: Titan One;
  font-style: normal;
  font-size: 34px;
  line-height: 1.14;
  letter-spacing: 0.4px;
  color: $color-accent;

  margin-bottom: 43px;
  margin-right: 0px;

  @media screen and (min-width: 768px) {
    width: 340px;
    height: 110px;

    font-size: 48px;
    letter-spacing: 0.4px;

    margin-bottom: 91px;
  }

  @media screen and (min-width: 1280px) {
    width: 474px;
    height: 66px;

    font-size: 58px;
    letter-spacing: 1.6px;

    margin-bottom: 97px;
  }
}

.footer-flex {

  padding-top: 113px;
 

  @media screen and (min-width: 767px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // при добавлении иконок поставить align-items: flex-start;
    align-items: center;

    padding-top: 165px;
  }

  @media screen and (min-width: 1280px) {
    align-items: center;
  }
}
.social-list {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 46px;
}
.social-item {
  &:not(:last-child) {
    margin-right: 30px;
  }
}
.tel {
  display: flex;
  justify-content: flex-end;

  font-family: inherit;
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
  line-height: 1.12;

  @media screen and (min-width: 767px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.8;
    letter-spacing: 0.2px;
  }
}

.tel__link {
  text-decoration: none;
  margin-bottom: 43px;

  @media screen and (min-width: 767px) {
    margin-bottom: 0px;
  }
}

.tel__number {
  color: $color-accent;
}

.copyright {
  padding-top: 22px;
  padding-bottom: 25px;
  border-top: 1px solid #e1e1e1;
  background-color: $color-secondary-background;

  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px) {
    padding-top: 29px;
    padding-bottom: 18px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 9px;
    padding-bottom: 10px;
  }
}

.copyright__text {
  margin: 0px;

  width: 140px;
  height: 42px;

  font-family: inherit;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 1.5;
  color: #907e82;

  @media screen and (min-width: 768px) {
    width: 276px;
    height: 26px;

    line-height: 1.2;
    letter-spacing: 0.2px;
    font-weight: 700;
  }
}
