.product {
  background-color: $color-background;
}

.product-list {
  @media screen and (min-width: 768px) {
    display: flex;
    margin: -20px;
  }

  @media screen and (min-width: 1200px) {
    margin: -24px;
  }
}

.product-text {
  display: block;
  font-family: Titan One;
  font-size: 18px;
  line-height: 1.17em;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
  margin: 0 auto;
  margin-bottom: 15px;
  padding-top: 121px;

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15em;
  }

  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: 1.13em;
  }
}

.product-title {
  font-family: Titan One;
  font-size: 34px;
  line-height: 1.14em;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  padding-bottom: 144px;

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.14em;
  }

  @media screen and (min-width: 1200px) {
    font-size: 58px;
    line-height: 1.14em;
  }
}

.product-list__item {
  border-radius: 24px;

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 130px;
    }
  }

  &:nth-child(1) {
    background-color: #ffb8ca;
  }
  &:nth-child(2) {
    background-color: #f0d1a5;
  }
  &:nth-child(3) {
    background-color: #c2e297;
  }
  position: relative;
  &:nth-child(1):before {
    content: '';
    position: absolute;
    bottom: 70%;
    left: 0;
    background-position-x: center;
    margin-top: -20px;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 252px;
    background-image: url('../images/products/png/icecream-mobile.png');
  }

  &:nth-child(2):before {
    content: '';
    position: absolute;
    bottom: 70%;
    left: 0;
    background-position-x: center;
    margin-top: -20px;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 252px;
    background-image: url('../images/products/png/cofee-mobile.png');
  }

  &:nth-child(3):before {
    content: '';
    position: absolute;
    bottom: 70%;
    left: 0;
    background-position-x: center;
    margin-top: -20px;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 252px;
    background-image: url('../images/products/png/shake-mobile.png');
  }

  @media screen and (min-width: 768px) {
    &:nth-child(1):before {
      content: '';
      position: absolute;
      bottom: 70%;
      left: 0;
      background-position-x: center;
      margin-top: -20px;
      background-repeat: no-repeat;
      background-size: contain;
      width: 100%;
      height: 252px;
      background-image: url('../images/products/png/icecream-tab.png');
    }

    &:nth-child(2):before {
      content: '';
      position: absolute;
      bottom: 70%;
      left: 0;
      background-position-x: center;
      margin-top: -20px;
      background-repeat: no-repeat;
      background-size: contain;
      width: 100%;
      height: 252px;
      background-image: url('../images/products/png/cofee-tab.png');
    }

    &:nth-child(3):before {
      content: '';
      position: absolute;
      bottom: 70%;
      left: 0;
      background-position-x: center;
      margin-top: -20px;
      background-repeat: no-repeat;
      background-size: contain;
      width: 100%;
      background-image: url('../images/products/png/shake-tab.png');
    }
    width: calc((100% - 6 * 10px) / 3);
    margin: 20px;
    margin-bottom: 112px;
  }
  @media screen and (min-width: 1200px) {
    &:nth-child(1):before {
      content: '';
      position: absolute;
      bottom: 70%;
      left: 0;
      background-position-x: center;
      margin-top: -20px;
      background-repeat: no-repeat;
      background-size: contain;
      width: 100%;
      height: 252px;
      background-image: url('../images/products/png/icecream-desk.png');
    }

    &:nth-child(2):before {
      content: '';
      position: absolute;
      bottom: 70%;
      left: 0;
      background-position-x: center;
      margin-top: -20px;
      background-repeat: no-repeat;
      background-size: contain;
      width: 100%;
      height: 252px;
      background-image: url('../images/products/png/cofee-desk.png');
    }

    &:nth-child(3):before {
      content: '';
      position: absolute;
      bottom: 70%;
      left: 0;
      background-position-x: center;
      margin-top: -20px;
      background-repeat: no-repeat;
      background-size: contain;
      width: 100%;
      background-image: url('../images/products/png/shake-desk.png');
    }
    width: calc((100% - 6 * 12px) / 3);
    margin: 24px;
    margin-bottom: 112px;
  }
}

.product-list__title {
  display: block;
  font-family: Titan One;
  font-size: 20px;
  line-height: 1.14em;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 161px;

  @media screen and (min-width: 768px) {
    padding-top: 152px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: 1.13em;
    padding-top: 163px;
  }

  &::after {
    content: '';
    display: block;
    background-position-x: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../images/products/png/points.png');
    width: 26px;
    height: 6px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.product-list__text {
  display: block;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.76em;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  max-width: 200px;
  margin: 0 auto;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    width: 198px;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.76em;
    width: 241px;
    margin: 0 auto;
    margin-bottom: 62px;
  }
}

.product-list__button {
  display: block;
  border-radius: 50%;
  border-color: transparent;
  width: 40px;
  height: 40px;
  background-color: transparent;
  background-image: url('../images/products/svg/arrow.svg');
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding-bottom: 50px;
}
